/*------------------> EN GENERAL <--------------------- */

body {
  margin: 0;
  font-family: sans-serif;
}

.hidden {
  overflow: hidden;
}

.body-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 153, 177);
  margin-top: 65px;
}

.loader-preview__loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.loader-preview {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  background-color: #c9bebe;
  width: 100%;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --color-primario: rgba(70, 112, 112, 0.568);
}

/*------------------> MENÚ <--------------------- */
.header {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}

.nav-menu__items img {
  display: none;
}

.nav-menu__items {
  display: flex;
  align-items: center;
}

.menu-container__logo {
  display: flex;
  align-items: center;
}

.menu-container__logo img {
  margin: auto 15px auto 100px;
  width: 50px;
  border-radius: 20px;
}

nav a {
  font-weight: 600;
  padding-right: 40px;
}

nav a:hover {
  color: white;
}

.nav-label,
.nav-input {
  display: none;
  margin: 20px auto auto 20px;
}

.nav-menu__items--link{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/*------------------> ACERCA DE <--------------------- */

.welcome {
  padding: 20px;
  background-color: hsl(0, 0%, 81%);
  text-align: center;
}

.welcome-start {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 252, 247, 0.541);
  padding: auto 50px auto 50px;
  border-radius: 20px;
}

.welcome-start p {
  padding: 0px 30px 0px 30px;
}

.welcome-end {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-primario);
  border-radius: 15px;
  padding: 90px 30px 90px 30px;
}

.welcome-end__text {
  display: flex;
  align-items: center;
  transition: 1s;
}

.welcome-end__text img {
  width: 90%;
}

.welcome-end__text:hover {
  transform: scale(1.1);
}

/*------------------> SERVICIOS <--------------------- */

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 60px 40px 60px;
  text-align: center;
  background-color: hsl(0, 0%, 81%);
  justify-content: center;
}

.services-start {
  width: 100%;
  padding-bottom: 10px;
}

.services-info {
  display: flex;
  background-color: rgb(126, 126, 126);
  width: 50%;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
}

.services-info__slider,
.services-info__slider2 {
  width: 190px;
  height: 350px;
  overflow: hidden;
}

.services-info__slider ul,
.services-info__slider2 ul {
  display: flex;
  padding: 0;
  width: 400%;
  transition: 1s;
  animation: slide 50s infinite alternate ease-in-out;
}

.services-info__slider li,
.services-info__slider2 li {
  list-style: none;
  width: 100%;
}

.services-info__slider img,
.services-info__slider2 img {
  width: 190px;
}

.services-info__slider p,
.services-info__slider2 p {
  margin: 0;
  font-weight: bold;
  color: #3b322f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  font-family: "Arial Black", sans-serif;
  background-color: #cec7c467;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.services-cards {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.services-cards__card {
  display: flex;
  align-items: center;
  background-color: var(--color-primario);
  margin: 20px;
  margin-bottom: 10px 0 -10px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  cursor: pointer;
}

.services-cards__card:hover {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.services-cards__card img {
  width: 120px;
}

.services-cards__card p {
  font-size: 1rem;
  font-style: italic;
  margin: 15px 0 0 0;
  font-size: larger;
}

.services-cards__card--info {
  display: none;
  padding-top: 30px;
}

.services-cards__card--addButton{
  margin: 20px;
}

.show {
  display: block;
  max-width: 300px;
}

.services-end__title {
  margin: 100px 0 0 0;
}

.services-books__book {
  position: relative;
  border-radius: 10px;
  width: 195px;
  height: 300px;
  background: url("/assets/Images/Hoja.jpg") center center/cover;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  cursor: default;
}

.services-books__cover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: default;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services-books__book:hover .services-books__cover {
  -webkit-transition: all 0.5s;
  transition: all 1s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.services-info__price,
.services-books__book p {
  font-size: 18px;
  font-style: italic; /* Texto en cursiva */
  font-style: oblique 20deg;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  padding-left: 35px;
  cursor: default;
}

.services-books {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(126, 126, 126);
  margin-left: 30px;
  justify-content: space-around;
  align-items: center;
  width: 42%;
  border-radius: 1rem;
}

/*------------------> CANASTA DE COMPRAS <--------------------- */

.shoping-cart{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 650px;
  flex-wrap: wrap;
  width: 100%;
}

.shoping-cart__indicators{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.shoping-cart__indicators--product{
  width: 45%;
}

.shoping-cart__indicators--price{
  display: flex;
  align-items: center;
  width: 15%;
  border-bottom: 1px solid;
  cursor: default;
}

.shoping-cart__indicators--total{
  width: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  cursor: default;
}

.shoping-cart__indicators--quantity{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  cursor: default;
}

.shoping-cart__indicators--product{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 45%;
  border-bottom: 1px solid;
  gap: 1rem;
}

.shoping-cart__products{
  display: flex;
  flex-wrap: wrap;  
}

.shoping-cart__indicators--close{
  width: 30px;
  cursor: pointer;
}

.shoping-cart__indicators--arrows{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.libro{
  width: 80px;
  
}

.shoping-cart__totalPriceContainer{
  display: flex;
  justify-content:space-between;
  width: 100%;
  padding: 10px 0;
  cursor: default;
}


.table-books{
  display: flex;
  width: 100%;
}

.shoping-cart_buyButton{
  display: flex;
  align-items: center;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 100px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.shoping-cart_buyButton:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.shoping-cart__title{
  display: none;
}

/*------------------> RESEÑAS <--------------------- */

.reviews {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 70px 40px;
  text-align: center;
  background-color: hsl(0, 0%, 81%);
  justify-content: center;
}

.reviews-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(165, 153, 177);
  padding: 20px;
  gap: 40px;
  border-radius: 1rem;
}

.reviews-cards__card {
  display: flex;
  width: 40%;
  background-color: var(--color-primario);
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  gap: 1.5rem;
}

.reviews-cards__card img {
  font-family: inherit;
  border-radius: 50%;
  display: block;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 6px solid rgba(207, 187, 187, 0.275);
}

.reviews-cards__card_imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: larger;
}

.reviews-cards__card--stars {
  font-size: 0;
}

.reviews-cards__card--Star {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/assets/Box_Items/estrella.svg") 0 -25px;
}

.reviews-cards__card--emptyStar {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/assets/Box_Items/estrella_vacía.svg") 0 -25px;
}

.reviews-cards__card--halfStar {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/assets/Box_Items/media_estrella.svg") 0 -25px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.footer-contacts__contact {
  display: flex;
  align-items: center;
}

.footer-contacts img {
  margin-right: 10px;
}

.footer-networks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.footer-networks__container {
  display: flex;
  gap: 1rem;
}

.footer__img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px;
}

.nav-menu__items--account {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  align-items: center;
  margin-right: 40px;
  gap: 10px;
}

.nav-menu__items--account a {
  padding: 0;
}




/*------------------> ANIMACIONES DE SLIDERS <--------------------- */

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*------------------> RESPONSIVE <--------------------- */

@media (max-width: 850px) {
  header {
    display: flex;
  }

  .menu-container {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: rgb(143, 176, 177);
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: right;
    clip-path: inset(0 0 0 100%);
    transition: clip-path 1s ease-in-out;
  }

  .menu_shadow {
    box-shadow: -10px 0 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  .nav-menu__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
  }

  .nav-menu__items--account {
    margin: 0;
  }

  .nav-menu__items img {
    display: block;
  }

  .nav-input:checked + .nav-menu {
    clip-path: inset(0 0 0 50%);
  }

  input[type="checkbox"] {
    appearance: none;
  }

  .nav-label,
  .nav-input {
    display: block;
    cursor: pointer;
  }

  .nav-label {
    margin-left: 0px;
  }

  nav a {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
  }

  .menu-container__logo img {
    margin: 0;
    margin-right: 10px;
    width: 14%;
  }

  .welcome-end {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .welcome-end img {
    width: 100%;
  }

  .welcome-end__text {
    margin: 0;
    width: 80%;
    padding: 10px;
  }

  .welcome-end__text2 {
    height: 400px;
  }

  .reviews-cards {
    text-align: justify;
  }

  .reviews-cards__card {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer {
    flex-direction: column;
    gap: 2.5rem;
  }

  .footer__img {
    width: 100px;
  }

  .services-cards1,
  .services-cards2 {
    flex-wrap: wrap;
  }

  .services-cards__card {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .services-end {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .services-info {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px;
  }

  .services-books {
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0 20px 0;
    gap: 50px;
    padding: 40px;
  }

  .services-books__book {
    width: 200px;
  }
  
  .shoping-cart__title{
    display: block;
    font-weight: bold;
  }

  .shoping-cart{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 650px;
    flex-wrap: wrap;
  }
  
  .shoping-cart__indicators{
    display: none;
  }
  
  .shoping-cart__indicators--price{
    display: flex;
    align-items: center;
    cursor: default;
    align-items: center;
    border: none;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
  }
  
  .shoping-cart__indicators--total{
    display: flex;
    align-items: center;
    cursor: default;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    justify-content: center;
    gap: 1rem;
  }
  
  .shoping-cart__indicators--quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border: none;
  }
  
  .shoping-cart__indicators--product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    border: none;
    border-top: 1px solid;
    width: 100%;
  }
  
  .shoping-cart__products{
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .shoping-cart__indicators--close{
    width: 30px;
    cursor: pointer;
  }
  
  .shoping-cart__indicators--arrows{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .shoping-cart__totalPriceContainer{
    display: flex;
    justify-content:space-between;
    width: 100%;
    cursor: default;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }
  
  
  .table-books{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  

}

@media (min-width: 1440px) {

  .welcome-end {
    padding: 100px;
  }
}
