body {
  margin: 0;
  font-family: sans-serif;
}

.hidden {
  overflow: hidden;
}

.contenido {
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 153, 177);
  margin-top: 65px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.loader_preview {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  background-color: #c9bebe;
  width: 100%;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --color-primario: rgba(70, 112, 112, 0.568);
}

/*------------------> MENÚ <--------------------- */
.encabezado {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}

.items img {
  display: none;
}

.items {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin: auto 15px auto 100px;
  width: 50px;
  border-radius: 20px;
}

nav a {
  font-weight: 600;
  padding-right: 40px;
}

nav a:hover {
  color: white;
}

.nav_label,
.nav_input {
  display: none;
  margin: 20px auto auto 20px;
}

/*------------------> ACERCA DE <--------------------- */

.bienvenida {
  padding: 20px;
  background-color: hsl(0, 0%, 81%);
  text-align: center;
}

.primarytext {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 252, 247, 0.541);
  padding: auto 50px auto 50px;
  border-radius: 20px;
}

.primarytext p {
  padding: 0px 30px 0px 30px;
}

.alltext {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-primario);
  border-radius: 15px;
  padding: 90px 30px 90px 30px;
}

.text {
  display: flex;
  align-items: center;
  transition: 1s;
}

.text img {
  width: 90%;
}

.text:hover {
  transform: scale(1.1);
}

/*------------------> SERVICIOS <--------------------- */

.servicios {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 60px 40px 60px;
  text-align: center;
  background-color: hsl(0, 0%, 81%);
  justify-content: center;
}

.primarytext2 {
  width: 100%;
  padding-bottom: 10px;
}

.info {
  display: flex;
  background-color: rgb(126, 126, 126);
  width: 50%;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
}

.slider,
.slider2 {
  width: 190px;
  height: 350px;
  overflow: hidden;
}

.slider ul,
.slider2 ul {
  display: flex;
  padding: 0;
  width: 400%;
  transition: 1s;
  animation: slide 50s infinite alternate ease-in-out;
}

.slider li,
.slider2 li {
  list-style: none;
  width: 100%;
}

.slider img,
.slider2 img {
  width: 190px;
}

.slider p,
.slider2 p {
  margin: 0;
  font-weight: bold;
  color: #3b322f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  font-family: "Arial Black", sans-serif;
  background-color: #cec7c467;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.cards {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  background-color: var(--color-primario);
  margin: 20px;
  margin-bottom: 10px 0 -10px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 120px;
}

.card p {
  font-size: 1rem;
  font-style: italic;
  margin: 15px 0 0 0;
  font-size: larger;
}

.card_info {
  display: none;
  padding-top: 30px;
}

.add_cart{
  margin: 20px;
}

.show {
  display: block;
  max-width: 300px;
}

.demanda {
  margin: 100px 0 0 0;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 195px;
  height: 300px;
  background: url("/assets/Images/Hoja.jpg") center center/cover;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  cursor: default;
}

.cover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: default;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 1s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.precio,
.book p {
  font-size: 18px;
  font-style: italic; /* Texto en cursiva */
  font-style: oblique 20deg;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  padding-left: 35px;
  cursor: default;
}

.services_books {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(126, 126, 126);
  margin-left: 30px;
  justify-content: space-around;
  align-items: center;
  width: 42%;
  border-radius: 1rem;
}

/*------------------> RESEÑAS <--------------------- */

.products-container{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 650px;
  flex-wrap: wrap;
  width: 100%;
}

.product-header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.product.title{
  width: 45%;
}

.price{
  display: flex;
  align-items: center;
  width: 15%;
  border-bottom: 1px solid;
  cursor: default;
}

.total{
  width: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  cursor: default;
}

.quantity{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  cursor: default;
}

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 45%;
  border-bottom: 1px solid;
  gap: 1rem;
}

.products{
  display: flex;
  flex-wrap: wrap;  
}

.close{
  width: 30px;
  cursor: pointer;
}

#arrow_left, #arrow_right{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.libro{
  width: 80px;
  
}

.basketTotalContainer{
  display: flex;
  justify-content:space-between;
  width: 100%;
  padding: 10px 0;
  cursor: default;
}


.book_container{
  display: flex;
  width: 100%;
}

#buy{
  display: flex;
  align-items: center;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 100px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

#buy:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.indicador{
  display: none;
}

/*------------------> RESEÑAS <--------------------- */

.reseñas {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 70px 40px;
  text-align: center;
  background-color: hsl(0, 0%, 81%);
  justify-content: center;
}

.personas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(165, 153, 177);
  padding: 20px;
  gap: 40px;
  border-radius: 1rem;
}

.persona {
  display: flex;
  width: 40%;
  background-color: var(--color-primario);
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  gap: 1.5rem;
}

.persona img {
  font-family: inherit;
  border-radius: 50%;
  display: block;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 6px solid rgba(207, 187, 187, 0.275);
}

.persona_imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: larger;
}

.Estrellas {
  font-size: 0;
}

.Estrella {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/assets/Box_Items/estrella.svg") 0 -25px;
}

.estrella_Vacía {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/assets/Box_Items/estrella_vacía.svg") 0 -25px;
}

.media_Estrella {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("/assets/Box_Items/media_estrella.svg") 0 -25px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.Contactos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.Contacto {
  display: flex;
  align-items: center;
}

.Contactos img {
  margin-right: 10px;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.red {
  display: flex;
  gap: 1rem;
}

.Footer_img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px;
}

#account {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  align-items: center;
  margin-right: 40px;
  gap: 10px;
}

#account a {
  padding: 0;
}



/*------------------> ANIMACIONES_SLIDERS <--------------------- */

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*------------------> RESPONSIVE <--------------------- */

@media (max-width: 850px) {
  header {
    display: flex;
  }

  .primarymenu {
    display: flex;
  }

  .menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: rgb(143, 176, 177);
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: right;
    clip-path: inset(0 0 0 100%);
    transition: clip-path 1s ease-in-out;
  }

  .menu_shadow {
    box-shadow: -10px 0 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
    align-items: center;
  }

  .account {
    margin: 0;
  }

  .items img {
    display: block;
  }

  .nav_input:checked + .menu {
    clip-path: inset(0 0 0 50%);
  }

  input[type="checkbox"] {
    appearance: none;
  }

  .nav_label,
  .nav_input {
    display: block;
    cursor: pointer;
  }

  .nav_label {
    margin-left: 0px;
  }

  nav a {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
  }

  .logo img {
    margin: 0;
    margin-right: 10px;
    width: 14%;
  }

  .alltext {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .alltext img {
    width: 100%;
  }

  .text {
    margin: 0;
    width: 80%;
    padding: 10px;
  }

  .text2 {
    height: 400px;
  }

  .personas {
    text-align: justify;
  }

  .persona {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer {
    flex-direction: column;
    gap: 2.5rem;
  }

  .Footer_img {
    width: 100px;
  }

  .cards1,
  .cards2 {
    flex-wrap: wrap;
  }

  .card {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .allcards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px;
  }

  .services_books {
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0 20px 0;
    gap: 50px;
    padding: 40px;
  }

  .book {
    width: 200px;
  }

  .perfil {
    width: 100%;
  }

  
  .indicador{
    display: block;
    font-weight: bold;
  }

  .products-container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 650px;
    flex-wrap: wrap;
  }
  
  .product-header{
    display: none;
  }
  
  .price{
    display: flex;
    align-items: center;
    cursor: default;
    align-items: center;
    border: none;
    justify-content: center;
    gap: 1rem;
  }
  
  .total{
    display: flex;
    align-items: center;
    cursor: default;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    justify-content: center;
    gap: 1rem;
  }
  
  .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border: none;
  }
  
  .product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    border: none;
    border-top: 1px solid;
    width: 100%;
  }
  
  .products{
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .close{
    width: 30px;
    cursor: pointer;
  }
  
  #arrow_left, #arrow_right{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .basketTotalContainer{
    display: flex;
    justify-content:space-between;
    width: 100%;
    cursor: default;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }
  
  
  .book_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  

}

@media (min-width: 1440px) {
  .info2 {
    margin-top: 150px;
  }

  .alltext {
    padding: 100px;
  }
}
